@charset "UTF-8";
/* @function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
} */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
.container {
  max-width: 1100px;
  padding: 0 1.5rem 1rem;
  margin: auto;
  overflow: hidden;
}

.btn-dark, .btn-light, .btn-main {
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 800;
  transition: all 0.5s;
  border: none;
  border-radius: 5px;
  box-shadow: #ccc 0.3em 0.3em 0.3em;
  cursor: pointer;
}

.btn-main {
  color: #f4f4f4;
  background-color: #1987b3;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: 800;
}
.btn-light {
  color: #333;
  background-color: #ccc;
  padding: 0.5rem;
}
.btn-light a {
  color: #333;
}
.btn-dark {
  color: #f4f4f4;
  background-color: #333;
}

button[class^=btn-]:hover,
a[class^=btn-]:hover,
input[class^=btn-]:hover {
  background-color: #1987b3;
}

.bg-main {
  background: #8ec8df;
  color: set-text-color(#1987b3);
}
.bg-dark {
  background: #1987b3;
  color: set-text-color(#1987b3);
  margin: 0 8rem;
}
.bg-light {
  background: #f4f4f4;
  color: set-text-color(#f4f4f4);
}
.bg-medium {
  background: #ccc;
  color: set-text-color(#ccc);
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #1987b3;
  display: block;
  margin: 0 auto 1rem auto;
}

.icon {
  margin-right: 0.9rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  line-height: 15px;
  padding: 0.4rem;
  color: #fff;
  text-align: right;
}
.icon:hover {
  background: #1987b3;
}

.container2 {
  max-width: 1100px;
  padding: 0 1.5rem 1rem;
  margin: auto;
  overflow: hidden;
}

.items {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0.3rem;
}

.item {
  position: relative;
  background: #8ec8df;
  overflow: hidden;
}
.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}
.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}
.item:hover .item-image {
  transform: scale(1.2);
}
.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}
.item-image {
  height: auto;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  border: 5px solid aliceblue;
}
.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}
.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}
.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}
.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}
.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  background: #fff;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 120px;
  height: 50px;
}

#main-nav {
  display: flex;
  justify-content: space-between;
}
#main-nav ul {
  display: flex;
}
#main-nav li {
  padding: 1rem 1.5rem;
}
#main-nav a {
  text-decoration: none;
  color: #131212;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  transition: border-color 0.5s;
}
#main-nav a:hover {
  border-color: #ccc;
}
#main-nav a.current {
  border-color: #8ec8df;
}

#header-home {
  background: url("../img/tlo.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
#header-home .box {
  margin-top: 162px;
  margin-right: 20px;
  font-weight: 600;
  mix-blend-mode: overlay;
  display: grid;
  place-items: center;
}
#header-home .box h1 {
  font-size: 72px;
  color: #000;
}
#header-home .box p {
  font-size: 54px;
  color: #1c0404;
  letter-spacing: 2px;
  margin-top: 10px;
}
#header-inner {
  background: #fff;
  height: 5.5rem;
  border-bottom: 3px solid #1987b3;
}

#about-home {
  height: 100vh;
  overflow-y: hidden;
}
#about-home #about-a .lead {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  overflow-y: hidden;
}
#about-home #about-a .mt-1 {
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.9rem;
}
#about-home #about-a .box {
  margin-bottom: 1.8rem;
  height: 2.5rem;
}
#about-home #about-a .box span {
  font-size: 2.2rem;
  color: #1987b3;
}
#about-home #about-b a {
  color: #1987b3;
  font-weight: 600;
}
#about-home #about-b .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#about-home #about-b .card,
#about-home #about-b .card2,
#about-home #about-b .card3 {
  width: 100vmin;
  height: 50vmin;
  display: flex;
  box-shadow: 0 30px 30px 5px rgba(0, 0, 0, 0.23);
  background-color: #f4f4f4;
}
#about-home #about-b .card2 {
  display: inline;
}
#about-home #about-b .container2 {
  display: grid;
  grid-template-areas: " front back other ";
  grid-gap: 2rem;
  margin: 3rem 0 0 3rem;
}
#about-home #about-b .back {
  grid-area: back;
}
#about-home #about-b .front {
  grid-area: front;
}
#about-home #about-b .other {
  grid-area: other;
}
#about-home #about-b ul {
  list-style: none;
}
#about-home #about-b .card_header {
  font-size: 4vmin;
  padding-top: 0.5rem;
  text-align: center;
  font-weight: 100;
}
#about-home #about-b .card_img {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://images.unsplash.com/photo-1463171379579-3fdfb86d6285?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80");
}
#about-home #about-b .card_content {
  padding: 3% 5%;
  box-sizing: border-box;
  width: 50%;
}
#about-home #about-b h2 {
  font-size: 3vmin;
  color: #1987b3;
  letter-spacing: 0.01em;
  line-height: 0.91;
  margin: 2vmin 0;
}
#about-home #about-b p {
  font-size: 2.2vmin;
  line-height: 1.7;
  font-weight: 300;
  margin-bottom: 2.5vmin;
  text-align: justify;
}
#about-home #about-b .bio-icon {
  width: 50px;
  height: 50px;
}
#about-home #about-b .prevnext {
  position: absolute;
  width: 4vmin;
  height: 8vmin;
  right: 2%;
  bottom: 0;
  top: 0;
  margin: auto 0;
}
#about-home #about-b button {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: transparent;
  font-size: 30px;
  margin-right: 20px;
  color: blue;
}
#about-home #about-b .prev,
#about-home #about-b .next {
  position: relative;
  cursor: pointer;
}
#about-home #about-b .prev:hover:after, #about-home #about-b .prev:hover:after,
#about-home #about-b .next:hover:after,
#about-home #about-b .next:hover:after {
  opacity: 1;
}
#about-home #about-b .prev:after,
#about-home #about-b .next:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
#about-home #about-b .prev:after {
  content: "↑";
}
#about-home #about-b .next:after {
  content: "↓";
}
#about-home #about-b .card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#about-home #about-b .container3 {
  display: flex;
  align-items: bottom;
  justify-content: space-around;
}
#about-home #about-b .reseaux a {
  color: #8ec8df;
  font-size: 55px;
  padding: 40px;
}

#projet-a .projet-info {
  display: grid;
  grid-template-areas: "projet resume";
  grid-gap: 2rem;
  margin: 1.5rem;
}
#projet-a .projet {
  grid-area: projet;
}
#projet-a .projet-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
}
#projet-a .projet .btn-light {
  margin-right: 2rem;
}
#projet-a .projet .project-icon {
  width: 20px;
  height: 20px;
}
#projet-a .projet .simple {
  color: #333;
  background-color: #ccc;
  padding: 0.3rem;
  margin-right: 0.4rem;
  font-weight: 400;
  font-size: 0.8rem;
}
#projet-a .resume {
  grid-area: resume resume;
}
#projet-a .resume-title {
  font-size: 1.5rem;
  display: block;
  padding-bottom: 0.5rem;
  margin-top: 5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}
#projet-a .resume .list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
#projet-a .resume a {
  color: #333;
}
#projet-a .resume a:hover {
  color: #1987b3;
}

#contact-a {
  margin-top: 20px;
  height: 75vh;
}
#contact-a form {
  background: #f4f4f4;
  padding: 50px;
}
#contact-a .text-fields {
  display: grid;
  grid-template-areas: "name email" "message message";
  grid-gap: 2rem;
  margin-bottom: 1.2rem;
}
#contact-a .text-fields .name-input {
  grid-area: name;
}
#contact-a .text-fields .email-input {
  grid-area: email;
}
#contact-a .text-fields .message-input {
  grid-area: message;
  height: 100px;
  margin-bottom: 1.3rem;
}
#contact-a .text-fields .text-input {
  padding: 0.5rem 1rem;
}

.success {
  font-size: 35px;
  color: #1987b3;
  margin: 3rem;
}

#main-footer {
  background: #333;
  color: #fff;
  height: 4rem;
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.8rem;
}
#main-footer .container {
  display: flex;
  justify-content: space-around;
}
#main-footer .container p {
  margin-right: 2rem;
}
#main-footer .container a {
  color: #fff;
}

.lettre {
  color: white;
  font-weight: 800;
  mix-blend-mode: normal;
}

.btn-lm {
  background-color: black;
  padding: 2rem 0.5rem;
  font-size: 1.8rem;
  color: #fefefe;
  margin-left: -18px;
}

@media (max-width: 750px) {
  #about-b .bio-icon {
    display: none;
  }
}
@media (max-width: 500px) {
  #header-home .header-content {
    padding-top: 5rem;
  }
  #header-home .header-content .btn-main {
    margin-top: 2.7rem;
  }
  #header-home .header-content span {
    font-size: 2rem;
  }
  #header-home .box h1 {
    font-size: 50px;
  }
  #header-home .box p {
    font-size: 35px;
  }

  #main-nav {
    flex-direction: column;
    align-items: center;
  }
  #main-nav li {
    font-size: 95%;
    padding: 0.5rem 0.8rem 1.5rem 0;
  }

  #header-inner {
    height: 7.5rem;
  }

  #contact-b .contact-info,
.items {
    grid-template-columns: 1fr;
  }

  #about-home #about-b .card {
    display: inline;
    height: 62vmin;
  }
  #about-home #about-b .card2 {
    font-size: 80%;
  }
  #about-home #about-b .card_content {
    box-sizing: revert;
    width: 90%;
    padding: 3% 3%;
  }
  #about-home #about-b .card_img {
    display: none;
  }
  #about-home #about-b p {
    font-size: 3.6vmin;
  }
  #about-home #about-b .container2 {
    margin: 0.5rem 0rem 0rem 1.5rem;
    font-size: 90%;
  }
  #about-home #about-b .bio-icon {
    display: none;
  }
  #about-home #about-b .prevnext {
    bottom: 22%;
  }

  #projet-a .resume {
    display: none;
  }

  #contact-a .text-fields {
    grid-template-areas: "name" "subject" "email" "message";
  }

  #main-footer {
    height: 7rem;
    padding-top: 0rem;
  }
  #main-footer .footer-content {
    flex-direction: column;
    height: 5rem;
    padding-top: 0.4rem;
  }
  #main-footer .footer-content p {
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 501px) and (max-width: 588px) {
  #header-home .header-content {
    padding-top: 7rem;
  }
  #header-home .btn-main {
    margin-top: 1rem;
  }
  #header-home span {
    font-size: 2rem;
  }

  #about-a .about-info {
    grid-template-areas: "bioimage" "bio";
  }
  #about-b .container2 {
    margin: 1.5rem;
    font-size: 85%;
  }
}
@media (min-width: 501px) and (max-width: 588px) and (min-width: 588px) and (max-width: 908px) {
  #header-home .header-content {
    padding-top: 10rem;
  }
  #header-home .header-content .btn-main {
    margin-top: 0rem;
  }
  #header-home .header-content span {
    margin-top: 1.2rem;
    font-size: 2rem;
  }

  #about-a .about-info {
    grid-template-areas: "bioimage" "bio";
  }
  #about-b .container2 {
    margin: 1.5rem;
    font-size: 85%;
  }
}
@media (min-width: 501px) and (max-width: 588px) and (max-width: 750px) {
  #about-b .bio-icon {
    display: none;
  }
}
@media (min-width: 501px) and (max-width: 588px) and (max-height: 330px) {
  #header-home .btn-main {
    margin-top: 2rem;
  }
  #header-home .header-content h1 {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
